//mixin to center a element in 
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  //mixin to set column or row direction of a element
  @mixin direction($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
  }
  
  //mixin to set lighten or darken theme
  @mixin theme($light-theme) {
    @if $light-theme == true {
      background: lighten($body-color, 100%);
      color: darken($text-color-white, 100%);
    }
    @else {
      background: $body-color;
      color: $text-color-white;
    }
  }
  
  //mixin that set column if < 800px and row if > 800px
  @mixin mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }

  @mixin light {
    background: $body-color-white;
    color: $text-color-black;
  }

  @mixin dark {
    background: $body-color-black;
    color: $text-color-white;
  }